.user-card{
    background-color: antiquewhite;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    gap: 1rem;
}


.user-card-name{
    font-size: 20px;
    font-weight: bold;
}

.user-card-image{
    border-radius: 50%;
    height: 200px;
    aspect-ratio: 1/1;
}