.navbar{
    margin-bottom: 3rem;
    border: 2px solid red;
    padding: 2rem;
}

.navbar ul{
    display: flex;
    gap: 2rem;
    list-style: none;

}



.active-link{
    color: red;
    text-decoration: none;
}

.non-active-link{
    text-decoration: none;
}